input {
    height: 2em;
  }
.speech {
    padding: 120;
    margin: 0;
  }

  .speech textarea {
    width: 550px;
    height: 480px;
    font-size: 14px;
  }

  .speech img {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-style: dotted;
    
  }

  .speech img:hover{
    transform: scale(1.1);
    transition-duration: 100ms;
   }