body {
    background-color: rgb(255, 240, 173);
    color: rgb(0, 0, 0);
    font-family: 'Courier New';
    font-size: 1.05rem;
  }
button {
  font-family: 'Courier New';
  text-decoration: underline;
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
}

b{
  font-size: 1.2rem;
}

br {
  margin:2.5em 0;
  line-height:5em;
}

  header{
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
  }
  
  nav, #flamboyant{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h5:hover{
    transform: scale(1.1);
    transition-duration: 100ms;
  }

  h2, h4{
    padding-right: 10%;
    padding-left: 20%;
  }

  /*shadowbox thing left*/
  h1, h2, h5, button, #pfp{
    background-color: white;
    outline-style: dotted;
    outline-width: 2px;
    outline-color: black;
    padding: 10px;
    box-shadow: 10px 10px black;
  }

  h3{
    text-decoration: underline 2px;
  }

  h4{
    padding-left: 2.5%;
  }

  h5, #flamboyant{
    margin-left: 20px;
  }
  ul {
    padding-left: 5%;
    padding-right: 20%;
    line-height: 1.6;
    
  }

  #solid-boxed {
    outline-style: solid;
    padding-left: 2.5%;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
  }

  section {
    padding: 20px;
  }

  #contact>a{
    font-size: 1.5rem;
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
  }

  #padding{
    padding: 20%;
  }

 #output{
  background-color: rgb(0, 0, 0);
  background-size: 50%;
  padding: 10px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  color: white;
 }

 button:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  outline-style: dotted;
  outline-width: 2px;
  outline-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 10px 10px white;
  transform: scale(1.1);
  transition-duration: 100ms;
 }

 #flamboyant{
    background-image: linear-gradient(to right, rgb(255, 0, 0),rgb(255, 166, 0),rgb(255, 255, 0),rgb(0, 128, 0),rgb(0, 0, 255),rgb(76, 0, 130),rgb(238, 130, 238));
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    outline-style: dotted;
    outline-width: 2px;
    outline-color: black;
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin-right: 5%;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px black;
    -webkit-text-stroke: 1px black;
 }

 #flamboyant:hover{
  transform: scale(1.1);
  transition-duration: 100ms;
 }

 #flamboyant>a{
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
 }

 #input {
  width: 420px;
  height: 40px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
 }

#input::placeholder {
  color: #888;
  font-style: italic;
}

#togglenav {
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 2;
}

#leftnav {
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #ffd036;
  overflow: auto;
  transition: all 0.3s ease;
  z-index: 1;
  padding-top: 100px;
}

#leftnav.open {
  left: 0;
}

#main-content {
  transition: all 0.3s ease;
  position: relative;
  border: 5px solid #000000;
}

#main-content.pushed {
  margin-left: 300px;
}

#leftnav>a>h5{
  margin-right: 5%;
}

.image-container {
  text-align: center;
}

#pfp {
  margin: auto;
  display: block;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}